version: 2.1

orbs:
  node: circleci/node@5.0.1

jobs:
  build:
    docker:
      - image: cimg/node:16.14.2
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: yarn
          env:
            NX_BRANCH: $(pullRequestNumber)
      - run:
          name: Lint
          command: yarn lint
      - run:
          name: Build
          command: yarn build
