html,
body {
  padding: 0px;
  margin: 0px;
}
/*
@media (prefers-color-scheme: light) {
  body {
    background: #ffff;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #202020;
  }
} */
